name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Update version in manifest.json
        run: |
          VERSION="${GITHUB_REF#refs/tags/v}"
          sed -i "s/\"version\": \".*\"/\"version\": \"$VERSION\"/" custom_components/juno_rb56sc/manifest.json
          
      - name: Create zip
        run: |
          cd custom_components/juno_rb56sc
          zip -r ../../juno_rb56sc.zip ./*
          
      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./juno_rb56sc.zip
          asset_name: juno_rb56sc.zip
          asset_content_type: application/zip
